<form
    class="bg-white shadow-md px-8 pt-6 pb-8  border border-yellow-600 rounded-lg hover:shadow-md hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200"
    #notesForm="ngForm" (ngSubmit)="editNotesFormData(notesForm.value)">

    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="title">Title</label>
        <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="title" type="text" ngModel [(ngModel)]="injectedData.title" name="title" placeholder="Enter title">
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="content">Content</label>
        <textarea 
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="content" type="text" ngModel [(ngModel)]="injectedData.content" name="content" placeholder="Enter content" rows="5" cols="40"></textarea>
    </div>



    <button class="flex-1 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full m-2">
        Edit note
    </button>
</form>