<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<div
    class="card m-2 cursor-pointer border border-yellow-600 rounded-lg hover:shadow-md hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200 ">
    <div class="m-3">
        <h2 class="text-lg mb-2">{{title}}
        </h2>
        <p class="font-light font-mono text-sm text-gray-700 hover:text-gray-900 transition-all duration-200">
            {{content}}</p>
        <div class="mb-2 flex ">
            <button class="flex-1 bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-3 rounded-full m-1">
                Edit
            </button>

            <button (click)="OnClickDelete()"
                class="flex-1 bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded-full m-1">
                Delete
            </button>

        </div>
    </div>
</div>